html {
    background-color: rgba(237, 229, 171, 0.481);
}

header, footer {
    background-color: darkgoldenrod;
    opacity: 50%;
}
header {
    color: blanchedalmond;
    font-weight: bold;
}

nav {
    /* background-color: rgba(92, 186, 245, 0.529); */
    background-color: cornsilk;
    text-align: center;
    padding-top: 1px;
    padding-bottom: 1px;
    font-size: x-large;
}

li {
    list-style-type: none;
    display: inline;
    padding: 0 3rem;
}

h1 {
    text-align: center;
    text-transform: capitalize;
    font-size: xx-large;
    color: darkblue;
}

h2, h3 {
    color: rgb(207, 149, 74);
}

h3 {
    font-style: italic;
}

p {
    font-size: 20px;
}


img[alt="PetSmart Logo"] {
    width: 30%;
}
img[alt="Adopt A Pet Event"] {
    width: 60%;
    height: 500px;
}
img {
    display: block;
    margin-left: auto;
    margin-right: auto;
}

table {
    margin-top: 35px;
}
table, caption, th, td {
    border: 1px solid #000;
    font-size: large;
}
th, td {
    width: 150px;
    height: 35px;
    text-align: center;
}
caption {
    text-transform: uppercase;
    font-weight: 600;
    height: 40px;
    padding-top: 15px;
    color: #753a30;
}


form[action="/signup"] {
    background-color: rgba(252, 239, 136, 0.397);
    font-size: 25px;
}

legend {
    font-size: 35px;
    font-weight: bold;
}

label {
    display: block;
    margin: 10px 0 0 0;
}
input {
    width: 600px;
    height: 30px;
    margin: 0px;
}
input[type="radio"] {
    width: 25px;
    margin-right: 10px;
}
textarea {
    width: 900px
}
input[type="button"] {
    background-color: rgba(98, 129, 255, 0.475);
    display: block;
    margin: 20px 0 10px 0;
    width: 100%;
    font-size: xx-large;
    height: fit-content;
}
input[type="button"]:hover {
    background-color: rgba(58, 141, 242, 0.906);
    text-transform: uppercase;
}
input[type="button"]:active {
    background-color: rgba(228, 27, 27, 0.68);
}
input[type="button"]:visited {
    background-color: rgba(56, 255, 112, 0.714);
}

select {
    width: 130px;
    height: 30px;
    font-size: 20px;
}

main #album {
    text-align: center;
    padding: 0;
}

main #album li {
    padding: 0;
    margin: 0 3rem;
}

main #album #photo {
    display: inline-block;
    position: relative;
}

main #album #photo img {
    vertical-align: middle;
    width: 500px;
    height: 400px;
    text-align: center;
    padding: 1rem 0 0;
}

main #album #photo .caption {
    text-align: center;
}

main #album #photo .description {
    width: 250px;
    visibility: hidden;
    padding: 1rem 1rem;
    position: absolute;
    left: 7rem;
    bottom: 13rem;
}

main #album #photo img:hover {
    cursor: pointer;
}
main #album #photo:hover .description {
    background-color: rgba(249, 255, 255, 0.599);
    visibility: visible;
    cursor: pointer;
}

footer {
   height: 30px;
   text-align: center;
   font-size: 20px;
   padding-top: 5px;
}

#infobox {
    position: fixed;
    top: 50%;
    left: 50%;
    width: 350px;
    margin-top: -150px;
    margin-left: -200px;
    padding: 5px 20px 70px;
    border-radius: 10px;
    background-color: #000000d8;
    color: #fff;
    text-align: center;
    visibility: hidden;
}

.infoboxheading {
    font-size: 24px;
    margin-bottom: 2rem;
    text-align: left;
    color: white;
}

.infoboxtext {
    font-size: 16px;
    margin-bottom: 5rem;
    text-align: left;
}

.infoboxtextlink {
    color: #fdef90;
    cursor: pointer;
    margin-bottom: 5rem;
}

.backdrop {
    z-index: 1;
    opacity: .0;
    filter: alpha(opacity=0);
    display: none;
    position: fixed;
    top: 0px;
    left: 0px;
    width: 100%;
    height: 100%;
    background: #000;
}
.box {
    z-index: 2;
    position: fixed;
    opacity: 1;
    display: none;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: auto;
    height: auto;
    width: 600px;
    background: #fff;
    padding: 20px;
    border-radius: 5px;
    -moz-box-shadow: 0px 0px 5px #444444;
    -webkit-box-shadow: 0px 0px 5px #444444;
    box-shadow: 0px 0px 5px #444444;
}

* {
    z-index: 1;
}

.close {
    float: right;
    cursor: pointer;
    padding-bottom: 0.5rem;
    font-size: 1.5rem;
    text-align: center;
    width: 3rem;
}
.close:hover {
    background-color: #e1ccad;
    color: #fff;
}

.box img {
    width:100%;
}